:root {
    --accent-font: "Open+Sans", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --accent-font-weight: 400;
    --second-font-weight: 600;
    --third-font-weight: 700;
    --accent-font-color: #303030;
    --second-font-color: #555555;
    --third-font-color: #FF6C00;
    --fourth-font-color: #9DA4BD;
    --accent-color-white: #ffffff;
    --accent-font-size: 11px;
    --secondary-font-size: 14px;
    --third-font-size: 18px;
    --fourth-font-size: 42px;
    --accent-line-height: 1.14;
    --typical-margin: 20px;
/* <!========style-reset=========> */
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
ul,
  ol,
  li {
    padding-left: 0;
    margin: 0;
    list-style: none;
  }
  button {
    cursor: pointer;
    margin-left: 40px;
  min-width: 160px;
  height: 40px;
  border: 1px solid var(--third-font-color);
  background-color: transparent;
  border-radius: 25px;
  }
  .container {
width: 1200px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
outline: 1px solid #FF6C00;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin: 0;
  }
  .link {
    text-decoration: none; 
     }
  :link {
      text-decoration: none; 
       }
  .list {
    list-style: none;
  }
  img {
    display: block;
  }
/* <!===========main============> */

.main {
    display: flex;
    flex-direction: row-reverse;
width: 1217px;
margin: 0 auto;
padding-left: 73px;
padding-top: 100px;
}
.body {
  position: absolute;
  content: "";
  background-image: linear-gradient(
    to bottom right,
  #282F39 50%,
  #1B8FA9 50% 
);
background-repeat: no-repeat;
position: relative;
/* background-size: cover; */
}
/* <!===========header============> */
.right {
  /* position: absolute;
  content: ""; */
  background-color: #ffffff;
}
.left {
  /* position: absolute;
  content: ""; */
  background-color: #ffffff;
}
.header {
    display: block;
    width: 900px;
    padding-left: 147px;
}
.name {
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 63.4355px;
line-height: 77px;
color: #282F39;
text-transform: uppercase;
padding-top: 93px;
}
.header-surname {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 63.4355px;
  line-height: 77px;
  color: #1B8FA9;
  text-transform: uppercase;
}
.header-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 63.4355px;
  line-height: 77px;
  color: #282F39;
}
.header-subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22.7712px;
  line-height: 28px;
  color: #000000;
  padding-bottom: 100px;
}
/* <!==========right-side============> */
.profile-section {
  padding-left: 108px;
}
.experience-section {
  padding-top: 55px;
  padding-left: 108px;
}
.education-section {
  padding-top: 47px;
  padding-left: 108px;
}
.hobbies-section {
  padding-top: 61px;
  padding-left: 108px;
}
/* <!==========profile============> */
.profile-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16.1139px;
  line-height: 20px;
  color: #000000;
  padding-top: 48px;
}
/* <!==========experience============> */
.experience-header {
  font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 18.4161px;
line-height: 22px;
color: #000000;
padding-top: 53px;
}
.experience-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16.1139px;
  line-height: 20px;
  color: #000000;
  padding-top: 5px;
}
/* <!==========education============> */
.education-header {
  font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 18.4161px;
line-height: 22px;
color: #000000;
padding-top: 53px;
}
.education-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16.1139px;
  line-height: 20px;
  color: #000000;
  padding-top: 5px;
}
.education-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16.1139px;
  line-height: 20px;
  color: #000000;
}
.title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 27.6239px;
  line-height: 33px;
  color: #1B8FA9;
  text-transform: uppercase;
}
.title::before {
  content: "";
  width: 200px;
  height: 1px;
  background-color: #1B8FA9;
  margin-right: 21px;
}
.header {
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 18.4161px;
line-height: 22px;
color: #000000;
}

/* <!===========hobbies===========> */

/* <!==========contacts===========> */
.photo {
  position: absolute;
  content: "";
background-image: url(../images/ilya1.jpg);
background-repeat: no-repeat;
background-size: cover;
  width: 406px;
  margin: 0 auto;
background-position: left;
/* width: 406px;*/
height: 500px;   
top: 0;
border-radius: 50%;
}
.left {
  position: relative;
}
.left-title {
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 27.6239px;
line-height: 33px;
color: #FF6C00;
padding-top: 155px;

}
.contacts-bcg {
background-image: 
url(../images/blue.svg),
url(../images/circle.png),
url(../images/circle-black.png);
background-size: cover;
  width: 406px;
  margin: 0 auto;
background-position: left;
/* width: 406px;*/
height: 730px;   
top: 0;
}
.left-item {
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24.1521px;
line-height: 29px;
color: #E5E5E5;
padding-top: 36px;
}
/* <!==========languages==========> */
.languages-bcg {
  position: absolute;
  content: "";
  background-image: url(../images/black.svg);
   background-repeat: no-repeat;
  background-size: cover;
    width: 406px;
    margin: 0 auto;
  background-position: left;
  /* width: 406px;*/
  height: 730px;  
  top: 29%;
  
}
/* <!===========skills============> */
.skills-bcg {
  position: absolute;
  content: "";
  background-image: url(../images/blue.svg);
  background-repeat: no-repeat;
  background-size: cover;
    width: 406px;
    margin: 0 auto;
  background-position: left;
  /* width: 406px;*/
  height: 730px;  
  top: 62%;
}
/* <!===========footer============> */
